html {
  position: relative;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  background-color: #fff;
  color: #444;
  min-height: calc(100vh - 80px - 80px);
}
.navbar {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  height: 60px;
}

.navbar-title {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0 10px;
}

a {
  display: inline-block;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 12px 24px;
  border-radius: 4px;
  background-color: #1abc9c;
  transition: background-color 0.3s;
}

a:hover {
  background-color: #3e8e41;
}

.main-content {
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 100px;
  padding: 20px;
  color: #333;
}

/* Footer styles */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

form {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  background-color: #f4f4f4;
  box-shadow: 0px 0px 10px #aaa;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="number"],
form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form input[type="submit"],
form button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  border: none;
  border-radius: 5px;
  background-color: #1abc9c;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form input[type="submit"]:hover,
form button:hover {
  background-color: #148f77;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
h1 {
  text-align: center;
  margin-bottom: 20px;
}
.profile-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.profile-info label {
  font-weight: bold;
  margin-bottom: 5px;
  display: inline-block;
}
.profile-info span {
  margin-bottom: 10px;
  display: inline-block;
}
.profile-info span:last-of-type {
  margin-bottom: 0;
}
.logout-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.logout-btn:hover {
  background-color: #3e8e41;
}

#chat-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 10px;
  width: 80%;
  margin: 20px auto;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.user {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 5px;
  color: #000;
}

.message {
  font-size: 1em;
  color: #333;
}

.product-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.product {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.product-title {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.product-price {
  margin: 5px 0;
  font-size: 1.1rem;
}

.product-stock {
  margin: 5px 0;
  font-size: 1rem;
  color: #666;
}

.product-category {
  margin: 5px 0;
  font-size: 1rem;
  color: #666;
}

.github-login {
  background-color: #24292e;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}

.github-login:hover {
  background-color: #3f4448;
}
ion-icon {
  font-size: 20px;
}

.login-text {
  text-align: center;
  font-size: 16px;
  margin-top: 30px;
}

.product-catalog {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product {
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 20px;
  width: calc(33.33% - 20px);
  box-sizing: border-box;
}

.product:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.product h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product p {
  margin-bottom: 10px;
}

.product-code {
  font-style: italic;
}

.product-thumbnail {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.recover-password-p{
margin: 10 auto;
text-align: center;
}

.recover-password-p a {
background-color: transparent;
color:#000000;
font-weight: bold;
}


.recover-password-p a:hover{
  text-decoration: underline;
  background-color: transparent;
}