* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

form {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  background-color: #f4f4f4;
  box-shadow: 0px 0px 10px #aaa;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="number"],
form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form input[type="submit"],
form button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  border: none;
  border-radius: 5px;
  background-color: #1abc9c;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form input[type="submit"]:hover,
form button:hover {
  background-color: #148f77;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
h1 {
  text-align: center;
  margin-bottom: 20px;
}
.profile-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.profile-info label {
  font-weight: bold;
  margin-bottom: 5px;
}
.profile-info span {
  margin-bottom: 10px;
}
.profile-info span:last-of-type {
  margin-bottom: 0;
}
.logout-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.logout-btn:hover {
  background-color: #3e8e41;
}

#chat-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 10px;
  width: 80%;
  margin: 20px auto;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.user {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 5px;
  color: #000;
}

.message {
  font-size: 1em;
  color: #333;
}

.product-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.product {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.product-title {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.product-price {
  margin: 5px 0;
  font-size: 1.1rem;
}

.product-stock {
  margin: 5px 0;
  font-size: 1rem;
  color: #666;
}

.product-category {
  margin: 5px 0;
  font-size: 1rem;
  color: #666;
}
