<form id="change-password-form">
  <h2>Change your Password</h2>
  <label for="password">Password</label>
  <input type="password" name="password" id="password" required />
  <label for="confirm-password">Confirm Password</label>
  <input type="password" name="confirm-password" id="confirm-password" required />
  <p id="error-message" style="color: red; display: none;">Passwords do not match.</p>
  <input type="submit" value="CHANGE PASSWORD" />
</form>
<script src="js/changePassword.js"></script>
