<div>
  <form id="chat-form">
    <input type="text" id="emailInput" placeholder="Email..." />
    <input type="text" id="textInput" placeholder="Mensaje..." />
    <button type="submit">SEND</button>
  </form>
  <div>
    <h1>Chat</h1>
    <div id="chat-container"></div>
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>