<div id="container">
  <input id="emailInput" placeholder="Email..." />
  <input id="textInput" placeholder="Mensaje..." />
  <button id="sendBtn">SEND</button>
  <div>
    <h1>Chat</h1>
    <div></div>
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="js/chat.js"></script>