<form class="login-form" id="login-form">
  <h2>Login</h2>
  <label for="email">Email</label>
  <input type="email" id="login-email" name="email" required />
  <label for="password">Password</label>
  <input type="password" id="login-password" name="password" required />
  <button type="submit">Sign in</button>
  <div class="recover-password-p">
  <a href="/recover-password" id="recover-password">Olvidaste tu contraseña?</a>
  </div>
  <p class="login-text">Or login with:</p>
  <button
    class="github-login"
    id="github-login"
    onclick="location.href='/api/auth/registerGitHub'"
  ><ion-icon name="logo-github"></ion-icon>
    Login with GitHub</button>
</form>
<script src="js/login.js"></script>