<form class="recover-password" id="recover-password">
  <h2>Recover your Password</h2>
  <label for="email">Email</label>
  <input type="email" id="recover-email" name="email" required />
  <input type="submit" value="SEND CODE" />
</form>
<script src="js/recoverPassword.js"></script>