<form id="token-form">
  <h2>Enter your token</h2>
  <label for="token">Token</label>
  <input type="text" name="token" id="token" required />
  <input type="submit" value="SEND TOKEN" />
</form>
<script src="js/token.js"></script>