<div class="container">
  <h1>User Profile</h1>
  <div class="profile-info">
    <label for="name">Name:</label>
    <span id="name"></span>

    <label for="email">Email:</label>
    <span id="email"></span>

    <label for="age">Age:</label>
    <span id="age"></span>

    <label for="address">Address:</label>
    <span id="address"></span>

    <label for="role">Role:</label>
    <span id="role"></span>
  </div>
  <button class="logout-btn" id="logout-btn">Logout</button>
</div>
<script src="js/userProfile.js"></script>